@using YelpScrapeWeb.Models.YelpGraphQLBusinesses
@model SearchBusinessesResults
@{
    ViewData["Title"] = "Search";
}

<form method="post"> 
    <div class="border p-3 mt-4">
        @{
            if (@Model == null)
            {
                <div class="row pb-2">
                    <h2 class="text-primary">YelpGraphQL Api Scrape</h2>
                    <hr />
                    <h5>Instructions</h5>
                    <p>Search businesses by filling in fields.</p>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.SearchBusinessesArguments.Location">Enter Location Here</label>
                    <input asp-for="@Model.SearchBusinessesArguments.Location" class="form-control" />
                    <span asp-validation-for="@Model.SearchBusinessesArguments.Location" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.SearchBusinessesArguments.Term">Enter SearchTerm Here</label>
                    <input asp-for="@Model.SearchBusinessesArguments.Term" class="form-control" />
                    <span asp-validation-for="@Model.SearchBusinessesArguments.Term" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.SearchBusinessesArguments.Price">Select Price Here (1 = $, 2 = $$, 3 = $$$, 4 = $$$$)</label>
                    <input asp-for="@Model.SearchBusinessesArguments.Price" class="form-control" />
                    <span asp-validation-for="@Model.SearchBusinessesArguments.Price" class="text-danger"></span>
                </div>
                <div>
                    <input type="hidden" asp-for="@Model.SearchBusinessesArguments.offset" value=0 class="form-control" />
                </div>
                <button type="submit" class="btn btn-warning" style="width:175px">Search</button>
            }
        }
    </div>
</form>