@using YelpScrapeWeb.Models.YelpGraphQLReviews
@model SearchReviewsResults
@{
    ViewData["Title"] = "Search";
}

<form method="post">
    <div class="border p-3 mt-4">
        @{
            if (@Model == null)
            {
                <div class="row pb-2">
                    <h2 class="text-primary">YelpGraphQL Api Scrape</h2>
                    <hr />
                    <h5>Instructions</h5>
                    <p>Search businesses by filling in fields.</p>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.SearchReviewsArguments.Business">Enter Yelp Business ID Here</label>
                    <input asp-for="@Model.SearchReviewsArguments.Business" class="form-control" />
                    <span asp-validation-for="@Model.SearchReviewsArguments.Business" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-warning" style="width:175px">Search</button>
            }
        }

        @{
            if (@Model != null)
            {
                <div>
                    <h2 class="text-primary">YelpGraphQL Api Scrape</h2>
                    <hr />
                    <h3>Reviews</h3>

                    @foreach (var reviewObj in @Model.Reviews)
                    {
                        <div class="card text-black bg-info mb-3" style="width:50%;padding:0.5rem;">
                          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <p style="padding-left:0.5rem">Id: @Html.Raw(reviewObj.Id)</p>
                            <p style="padding-left:0.5rem">Rating: @Html.Raw(reviewObj.Rating)</p>
                            <p style="padding-left:0.5rem">Username: @Html.Raw(reviewObj.User.Name)</p>
                            <p style="padding-left:0.5rem">Text: @Html.Raw(reviewObj.Text)</p>
                            <p style="padding-left:0.5rem">Time Created: @Html.Raw(reviewObj.Time_Created)</p>
                          </a>
                        </div>                        
                    }

                </div>
                <a asp-controller="Reviews" asp-action="Search" class="btn btn-secondary" style="width:175px">
                    Back to Search
                </a>
            }
        }
    </div>
</form>